<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Python Todo App</title>
</head>

<body>
  <h1>Todo List</h1>
  <div>Add a new todo Item:
    <form action="/add">
      <input type="text" name="todoitem">
      <input type="submit">
    </form>
  </div>
  <div>
    <ul>
      {% for todo in todos %}
      <li style="font-size:20pt; font-style: italic; background-color: aqua; border:1px solid"><input type="checkbox" name="">{{todo.text}}</li>
      {% endfor}
    </ul>

  </div>

</body>

</html>